.hometext {
    color: #ffffff;
    text-align: center;
    font-family: Helvetica, Calibri;
    font-size: 1em;
    margin-top: 1em;
}
.hometext h3 {
    font-size: 1.2em
}
.hometext span {
    color: #d4c355;
}
.herowrap {
    max-width: 90%;
    margin: 5%;
    background: #202020;
    padding: 0.3125em;
}
.hero {
    max-width: 100%;
    margin-bottom: 0.3125em;
}
.last {
    margin-bottom: 0;
}
    
@media (min-width: 600px) {
    .hometext p {
        font-size: 1.5em;
    }
    .hometext h3 {
    font-size: 2em;
}
    .herowrap {
        margin: 0;
        margin-top: 1em;
        margin-right: 5%;
        margin-left: 5%;
        margin-bottom: 2em;
        text-align: center;
    }
    .hero {
        max-width: 30%;
        margin-left: 1%;
        margin-bottom: 0;
}
    .first {
        margin-left: 0;
    }
}
@media (min-width: 960px) {
    .hometext p {
        font-size: 2em;
    }
    .hometext h3 {
    font-size: 2.5em;
}
}